<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GitHubOAuthAppClientID</key>
    <string>YOUR_GITHUB_OAUTH_APP_CLIENT_ID</string>
    <key>GitHubOAuthAppClientSecret</key>
    <string>YOUR_GITHUB_OAUTH_APP_CLIENT_SECRET</string>
</dict>
</plist>
